body {
    line-height: 1rem;
    
    /* Set page's background */
    background-image: url("../img/background-photo-mobile-devices.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 1rem;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
    margin: 0.5rem;
}

button {
    font-size: 1rem;
    margin: 1rem;
    padding: 0.75rem 1rem;
}

button:hover {
    font-size: 1.1em;
}

#header {
    display: flex;
    flex-flow: column nowrap;
}

.nav-bar > ul {
    /* Align icon with column */
    display: flex;
    flex-flow: column wrap;
}

.com-name, .nav-bar, ul, li {
    width: 100%;
}

a {
    display: flex;
    align-items: center;
    width: auto;
}

a > span {
    color: #fff;
}

a:hover {
    background-color: rgb(157, 248, 248);
}