body {
    line-height: 1.5rem;
    background-image: url("../img/background-photo.jpg");

}

h1 {
    font-size: 2rem;
    margin: 1.5rem;
}

h2 {
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1rem;
}

button {
    font-size: 1rem;
}

#header {
    font-size: 1rem;
}

.com-name, .nav-bar {
    width: 20%;
    padding: .4em 0;
}