body {
    font-family: 'Merriweather', serif;
    font-size: medium;
    height: 100vh;

    /* Center content */
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    background-color: #00000086;
    height: 2.8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap; /* This's optinal */
    justify-content: space-between;
    align-items: center;
}

#header > .com-name, #header > .nav-bar {
    width: 20%;
    height: 2rem;
    /* TEMPORARY */
    background-color: #f00;
}

main {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

a {
    /* Create gap between h2 and a */
    display: inline-block;

    /* Create border */
    border: 1px solid rgb(157, 248, 248);
    color: rgb(157, 248, 248);
    border-radius: 5%;
}

a:hover {
    border-width: 5px;
    color: #fff;
    background-color: rgb(86, 201, 201);
}